<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Test Page</title>
</head>
<body>
    <h1 id="indexPage">Test Page</h1>
    <div class="indexTestMenu">
        <input type="button" name="test1" value="Test 1" onclick="location.href='/test/1'">  
        <input type="button" name="test2" value="Test 2"
        onclick="location.href='/test/2'">   
        <input type="button" name="test3" value="Test 3"
        onclick="location.href='/test/3'"> 
    </div>
    <img src="/static/images/main.jpg" />
</body>
</html>