<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/index.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>Manage page</h1>
</body>
</html>